<div class="nav-container">
	
	<div class="nav-bar-items-left">
		
		    <a class="nav-links" href="#">StoryIcon</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Home</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Live TV & Guide</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Categories</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">News</a>
	</div>
    <div class="nav-bar-items-right"  >
		<a class="user-profile-link" [routerLink]="['']" routerLinkActive="active">Giovanni</a>  
		<a [routerLink]="['']" routerLinkActive="active">Search</a>  
    </div>

        
 

</div>

<div class="cover-image">

</div>
<div class="group-container"  *ngFor="let group of stateGroups">
	<div *ngIf="isTitleNull(group)">
		<div   class="row-title">
		  <h1>{{group.letter}}</h1>
		</div>
		<div *ngIf="isDesktop">
			<div *ngIf="isSwipeNeeded(group)">
				<div (click)="swipePrev(group.letter)" class="swipe-container">
					<div class="swipe-button-prev"></div>
				</div>	 
				<div (click)="swipeNext(group.letter)" class="swipe-container swipe-right-container">
				   <div  class="swipe-button-next"></div>
				</div>    		
			</div>
        </div>
		<div id="{{group.letter}}" class="row-container" [ngClass]="{'row-container-desktop': isDesktop}"  >    
			 <div class="slide-container"><div class="blankPoster"></div></div>
			 <div class="slide-container" *ngFor="let name of group.names">
				 
				 <div style="padding: 10px">
					  <a class="card-link" [routerLink]="['/slideshow', name.title]" routerLinkActive="active">  
						  <div class="posterimage-container">
							 <img  onerror="this.src='https://gesab001.github.io/assets/images/black.jpg';" class="posterimage"[src]="getPoster(name.title)">	
							 <div class="caption-container">
								 <h1 class="caption">{{name.title}}</h1>
								 <p class="caption">{{name.description}}</p>
						     </div>
						  </div>
					  </a>
				 </div>
			 </div>
			 <div class="slide-container"><div class="blankPoster"></div></div>
		</div>
	</div>	
</div>

