.group-container
   position: relative

.row-title
  font-weight: bold
  color: white
  
.row-container
  overflow: hidden
  white-space: nowrap
  position: relative
  scroll-behavior: smooth
 
.blankPoster
  width: 100px
  background-color: yellow

.slide-container
  display: inline-block
  
.example-container
   height: 100%

.drawer
   width: 100%

.posterimage
   width:200px
   border-radius: 3px
   -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out
   -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out
   -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out
   -o-transition: width 1s ease-in-out, left 1.5s ease-in-out
   transition: width 1s ease-in-out, left 1.5s ease-in-out


.posterimage:hover
   width: 400px

.swipe-container
  position: absolute
  top: 0
  bottom: 0
  z-index:1
  opacity: 0
  background-color: black
  width: 100px
  
.swipe-container:hover 
  opacity: 0.5
  
.swipe-right-container
  right: 0
  
.swipe-button-prev
  position: absolute
  top: 50%
  background-image: url(https://gesab001.github.io/assets/images/belt-left-arrow.svg)  
  background-size: 48px
  height: 44px
  width: 48px

.swipe-button-next
  position: absolute
  top: 50%
  right: 0
  background-image: url(https://gesab001.github.io/assets/images/belt-right-arrow.svg)  
  background-size: 48px
  height: 44px
  width: 48px
  
.gutter-right
  background-color: rgba(17,17,17,.75)
  width: calc(((100% - 100% * 5 / 6)/ 2) + 1rem)
  flex-shrink:0
