<div id="side-menu">
	<div  style="background-color:black; height:80px; display:flex; flex-direction:row; justify-content: flex-end; align-items: center">
		<div style="padding-right:20px; color:white" >
			<mat-icon aria-hidden="false" aria-label="Example home icon" style="cursor: pointer" (click)="closeSideNav()">close</mat-icon>
		</div>
	</div>	
	<div id="menu-items">
	   <div id="items">
		   
        	 <div style="color: white"><a [routerLink]="['']" routerLinkActive="active">Home</a></div>	
   	         <div style="color: white">Login</div> 
			 <mat-accordion style="background-color: black">
		  
				  <mat-expansion-panel (opened)="panelOpenState = true"
									   (closed)="panelOpenState = false">
					<mat-expansion-panel-header>
					  <mat-panel-title>
						Live TV & Guide
					  </mat-panel-title>
					  <mat-panel-description>
						
					  </mat-panel-description>
					</mat-expansion-panel-header>
					<p>I'm visible because I am open</p>
				  </mat-expansion-panel>
				   <mat-expansion-panel (opened)="panelOpenState = true"
									   (closed)="panelOpenState = false">
					<mat-expansion-panel-header>
					  <mat-panel-title>
						Categories
					  </mat-panel-title>
					  <mat-panel-description>
						
					  </mat-panel-description>
					</mat-expansion-panel-header>
					<p>I'm visible because I am open</p>
				  </mat-expansion-panel>
			</mat-accordion>
			<div style="color: white">News</div>
	   </div>
	</div>
</div>

<div class="nav-container">
   <div class="mobile-nav">
      <!-- <div><mat-icon aria-hidden="false" aria-label="Example home icon" style="cursor: pointer" (click)="openSideNav()" (click)="hideSearchBar()">menu</mat-icon> </div> -->
       <div><a  href="#" (click)="defaultMode()"><img class="app-icon" src="https://raw.githubusercontent.com/gesab001/assets/master/images/app-icons/story/icon-192x192.png"></a></div>
	   <div style="padding-right:30px">
            <div class="search-bar" id="searchbar-mobile" style="display:none" >
		        <input type="text" id="inputField-mobile" (focusout)="hideSearchBarMobile()"  (keyup)="searchTitle($event)" placeholder="Search stories">
		    </div>			   
		   <div class="maticon-search"><mat-icon aria-hidden="false" aria-label="Example home icon"  *ngIf="isSearchIcon" style="cursor: pointer" (click)="showSearchBarMobile()">search</mat-icon></div>
	   
	   </div>

   </div>
   	
  <div class="desktop-nav">
	<div class="nav-bar-items-left" (click)="hideSearchBar()">
		
		    <a href="#"><img class="app-icon" src="https://raw.githubusercontent.com/gesab001/assets/master/images/app-icons/story/icon-192x192.png" ></a>
		<!--	<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Home</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Live TV & Guide</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Categories</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">News</a>-->
	</div>
    <div class="nav-bar-items-right"  >
		<!--<a class="user-profile-link" [routerLink]="['']" routerLinkActive="active" *ngIf="isSearchBar==false">Giovanni</a>  -->
		<div  class="search-icon-container">
            <div class="search-bar" id="searchbar" style="display:none">
		        <input type="text"  onfocus="this.value=''" autofocus id="inputField" (keyup)="searchTitle($event)" placeholder="Search stories">
		    </div>			
			<div class="maticon-search"><mat-icon aria-hidden="false" aria-label="Example home icon" style="cursor: pointer" (click)="showSearchBar()">search</mat-icon> </div>
	    </div>
			
		
    </div>  
   

   
  </div>	


        
 

</div>

<div *ngIf="isSearchMode" class="search-results-content">


		 <div class="search-results-container" *ngFor="let name of searchResultsStateGroup" (mouseenter)="imageHoverIn($event.currentTarget)" (mouseleave)="imageHoverOut($event.currentTarget)">
			 
			 <div style="padding: 10px">
				  <a class="card-link" [routerLink]="['/slideshow', name.title, name.otherTitle]" routerLinkActive="active"  >  
					  <div class="default-state">
						  <div class="posterimage-container-search-results">
							  <div style="position: relative">
								  <img  onerror="this.src='https://gesab001.github.io/assets/images/black.jpg';" class="posterimage " [src]="name.thumbnail">	
								   <div class="storyTitle text-shadow">
									 <h1 >{{name.otherTitle}} </h1>
									 <p *ngIf="isMobile" >{{name.description}} </p>
								   </div>	
							 
							  </div>
							 
							

						  </div>						  
					  </div>
					  <div  class="hovered-state" style="display:none">
							<div class="posterimage-container">
								 <a [routerLink]="['/slideshow', name.title, name.otherTitle]" routerLinkActive="active" ><img  onerror="this.src='https://gesab001.github.io/assets/images/black.jpg';" class="posterimage" [src]="name.thumbnail">	
									 <div class="caption-container-search-results">
											<p class="caption">{{name.otherTitle}}</p>
											<p class="caption">{{name.description}}</p>                                    
									 </div>
								 </a>

							 </div>		
								 
							
					  </div>

				  </a>
			 </div>
		 </div>
	 	 
		
	<div style="height:500px;"></div>
			
</div>
<div *ngIf="isDefaultMode" class="default-content">
	    <div style="height:70px; "></div>

		<div id="demo" class="carousel slide cover-image-container;"  data-ride="carousel">

		  <!-- Indicators -->
		  <ul style="position:absolute; top:10px; z-index: 1; height: 30px;" class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active" ></li>
			<li data-target="#demo" data-slide-to="1"></li>
			<li data-target="#demo" data-slide-to="2"></li>
	        <li data-target="#demo" data-slide-to="3"></li>
		    <li data-target="#demo" data-slide-to="4"></li>
		    <li data-target="#demo" data-slide-to="5"></li>								
		    <li data-target="#demo" data-slide-to="6"></li>
		    <li data-target="#demo" data-slide-to="7"></li>
		    <li data-target="#demo" data-slide-to="8"></li>
		    <li data-target="#demo" data-slide-to="9"></li>
		    		    		    		    		    	
		  </ul>
		  
		  <!-- The slideshow -->
		  <div style="background-color:red" class="carousel-inner" style="height:100%">

			<div  *ngFor="let slide of newList; let i = index;" class="carousel-item" [ngClass]="{'active': isFirstSlide(i)}"  (click)="openSlideshow(slide['title'])" style="height:100%">                  
                
					<a [routerLink]="['/slideshow', slide['title'], slide['otherTitle']]" routerLinkActive="active">
						<div class="cover-image-fade" ></div>
						<img style="height:900px; width: 100%;"   [src]="newList[i]['newcoverposter']"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago"></a>
    
                    <div   >
 				     	<a class="cover-title text-shadow " style="text-decoration:none;" [routerLink]="['/slideshow', slide['title'], slide['otherTitle']]" routerLinkActive="active">{{slide["otherTitle"]}}</a>
     					<a [routerLink]="['/slideshow', slide['title'], slide['otherTitle']]"  style="font-size:24px; text-decoration:none; line-height: 1.5; padding-top: 20px; width: 60%" class="text-shadow cover-description">{{newList[i]['description']}}</a>
           
				    </div>  
				           
			</div>   
		  </div>
		  
		  <!-- Left and right controls -->
		  <a href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		  </a>
		  <a id="next-button"  href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		  </a>
		</div>	
			
		<div class="group-container"  *ngFor="let group of stateGroups" (click)="hideSearchBar()"> 
			<div *ngIf="isTitleNull(group)">
				<div   class="row-title">
				  <h1>{{group.letter}}</h1>
				</div>
				<div *ngIf="isDesktop">
					<div *ngIf="isSwipeNeeded(group)">
						<div (click)="swipePrev(group.letter)" class="swipe-container">
							<div class="swipe-button-prev"></div>
						</div>	 
						<div (click)="swipeNext(group.letter)" class="swipe-container swipe-right-container">
						   <div  class="swipe-button-next"></div>
						</div>    		
					</div>
				</div>
				<div id="{{group.letter}}" class="row-container" [ngClass]="{'row-container-desktop': isDesktop}"  >    
					 <div class="slide-container"><div class="blankPoster"></div></div>
					 <div class="slide-container" *ngFor="let name of group.names" (mouseenter)="imageHoverIn($event.currentTarget)" (mouseleave)="imageHoverOut($event.currentTarget)">
						 
						 <div style="padding: 10px">
							  <div  >  
								  <div class="default-state">
									  <a [routerLink]="['/slideshow', name.title, name.otherTitle]" routerLinkActive="active" ><div class="posterimage-container">
										 <img  onerror="this.src='https://gesab001.github.io/assets/images/black.jpg';" class="posterimage"[src]="name.thumbnail">	
									     <div class="storyTitle text-shadow">{{name.otherTitle}}</div>		
									  </div></a>						  
								  </div>
								  <div  class="hovered-state" style="display:none">
									  
										  <div class="posterimage-container">
											 <a [routerLink]="['/slideshow', name.title, name.otherTitle]" routerLinkActive="active" ><img  onerror="this.src='https://gesab001.github.io/assets/images/black.jpg';" class="posterimage"[src]="name.thumbnail">	
											 <div class="caption-container">
													<p class="caption">{{name.otherTitle}}</p>
													<p class="caption">{{name.description}}</p>                                    
											 </div></a>

									     </div>					        
									     
								  </div>


						 </div>
					 </div>
					 <div class="slide-container"><div class="blankPoster"></div></div>
				</div>
			</div>	
		</div>
</div>

<div style="height:500px; "></div>


