

<div class="group-container"  *ngFor="let group of stateGroups">
	<div *ngIf="isTitleNull(group)">
		<div   class="row-title">
		  <h1>{{group.letter}}</h1>
		</div>
		
		<div class="swipe-left-container">
			<div class="swipe-button-prev"></div>
		</div>	 
		<div class="swipe-right-container">
		   <div class="swipe-button-next"></div>
		</div>    
		<div class="row-container"  >    
			 <div class="slide-container" *ngFor="let name of group.names">
				 
				 <div style="padding: 10px">
					  <a class="card-link" [routerLink]="['/slideshow', name]" routerLinkActive="active">  
						  <img  onerror="this.src='https://gesab001.github.io/assets/images/black.jpg';" class="posterimage"[src]="getPoster(name)"></a>
				 </div>
			 </div>
		</div>
	</div>	
</div>

