.nav-container
  width: 100%
  background-color: black
  height: 70px
  padding-left: 18.84px
  display: flex
  flex-direction: row
  position: fixed
  z-index: 5

  

.nav-bar-items-left
  background-color: black
  height: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  flex: 1 1 0%
  
  
.nav-links
  font-size: 1.1875rem
  padding: 0 1.256rem
  font-weight: 500
  display: flex
  color: white
  text-decoration: none
  
.nav-bar-items-right
  display: flex
  align-items: center
  font-size: 1.1875rem
  color: white
  text-decoration: none

.user-profile-link
  width: 280px
  color: white
  font-weight: 500
  
  


.cover-image
  height: 780.183px
  background-image: linear-gradient(to bottom,transparent,transparent,transparent,#000), url(https://i.pinimg.com/originals/57/29/45/57294506a170c0d8b9516fde13be667c.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  top: 0
  bottom: 0
  left: 0
  right: 0

.group-container
   position: relative

.row-title
  font-weight: 500
  color: white
  padding-left: 120px
  
.row-container
  overflow: auto
  white-space: nowrap
  position: relative
  scroll-behavior: smooth

.row-container-desktop
  overflow: hidden
  white-space: nowrap
  position: relative
  scroll-behavior: smooth
   
.blankPoster
  width: 100px
  background-color: yellow

.slide-container
  display: inline-block
  
.example-container
   height: 100%

.drawer
   width: 100%

.posterimage-container
  width: 150px
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out
  webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out
  moz-transition: width 1s ease-in-out, left 1.5s ease-in-out
  -o-transition: width 1s ease-in-out, left 1.5s ease-in-out
  transition: width 1s ease-in-out, left 1.5s ease-in-out
    
.posterimage-container:hover
  width: 200px


.posterimage-container:hover .caption
  font-size: 1.5em
  
.caption-container
  display:flex
  flex-direction: column
  white-space: normal


.caption
  padding: 5px

  position: relative
  font-size: 0em
  -webkit-transition: font-size .5s ease
  -moz-transition: font-size .5s ease
  -o-transition: font-size .5s ease
  transition: font-size .5s ease
  color: white
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black
  font-weight: bold
  
.posterimage
   width:100%
   border-radius: 3px

.swipe-container
  position: absolute
  top: 0
  bottom: 0
  z-index:1
  opacity: 0
  background-color: black
  width: 100px
  
.swipe-container:hover 
  opacity: 0.5
  
.swipe-right-container
  right: 0
  
.swipe-button-prev
  position: absolute
  top: 50%
  background-image: url(https://gesab001.github.io/assets/images/belt-left-arrow.svg)  
  background-size: 48px
  height: 44px
  width: 48px

.swipe-button-next
  position: absolute
  top: 50%
  right: 0
  background-image: url(https://gesab001.github.io/assets/images/belt-right-arrow.svg)  
  background-size: 48px
  height: 44px
  width: 48px
  
.gutter-right
  background-color: rgba(17,17,17,.75)
  width: calc(((100% - 100% * 5 / 6)/ 2) + 1rem)
  flex-shrink:0
