.group-container
   position: relative

.row-title
  font-weight: bold
  color: white
  
.row-container
  overflow: auto
  white-space: nowrap
  position: relative
  background-color: red


.slide-container
  display: inline-block
  
.example-container
   height: 100%

.drawer
   width: 100%

.posterimage
   width:200px
   border-radius: 3px 3px 0 0

.swipe-left-container

  position: absolute
  top: 0
  bottom: 0
  z-index:1
  opacity: 0.5 
  background-color: yellow
  width: calc(((100% - 100% * 5 / 6)/ 2) + 1rem)

.swipe-left-container:hover 

  
.swipe-right-container
  position: absolute
  top: 0
  bottom: 0
  right: 0
  z-index:1
  opacity: 0.5 
  background-color: yellow
  width: calc(((100% - 100% * 5 / 6)/ 2) + 1rem)
  
.swipe-button-prev
  position: absolute
  top: 50%
  background-image: url(https://www.tvnz.co.nz/assets/images/belt-left-arrow-cc790ae979fe0317f53a1b05bcd1f3f2.svg)  
  background-size: 48px
  height: 44px
  width: 48px

.swipe-button-next
  position: absolute
  top: 50%
  right: 0
  background-image: url(https://www.tvnz.co.nz/assets/images/belt-right-arrow-adb45e0aea7ca31f3de9f799a8a8cfa7.svg)  
  background-size: 48px
  height: 44px
  width: 48px
  
.gutter-right
  background-color: rgba(17,17,17,.75)
  width: calc(((100% - 100% * 5 / 6)/ 2) + 1rem)
  flex-shrink:0
