<h1>Hangman</h1>



<!--<h1 class="text-center">Encrypt-Decrypt with AES</h1>  -->
<br>  
<div>  
  <div class="row">  
    <div class="col-sm-6">  
<!--      <button type="button" class="btn btn-primary btn-lg btn-block">  
        Encryption  
      </button>  -->
      <br>  
  <div class="form-group">  
        <label for="txtTextToConvert">Enter word length</label>  
        <input type="number" class="form-control" placeholder="Enter number of letters in a word" [(ngModel)]="wordlength">  
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div *ngFor="let i of [].constructor(12); let x=index">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <input type="submit" value="{{x+1}}"(click)="setWordLength(x+1)" class="btn btn-success">

              </div>
          </div>
        </div>
  </div>  

<h2>Choose a word</h2>
<p></p>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div *ngFor="let word of getWordList()">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-warning" (click)="convertTextSelectedWord('encrypt', word)">{{word}}</button>  
      </div>
  </div>
</div>

<h2>Or Random</h2>
<button type="button" class="btn btn-warning" (click)="convertText('encrypt')">Get a random word</button>  
<!--
      <div class="form-group">  
        <label for="txtPassword">Password</label>  
        <input type="password" class="form-control" placeholder="Enter encryption password" value="secret" [(ngModel)]="encPassword">  
      </div>  -->
      <h2>Encrypted word</h2>
      <textarea class="form-control" readonly rows="3">{{conversionEncryptOutput}}</textarea>  
      <br>  
      <div>  
        <a target="_blank" class="d-block mb-4 h-100" href="https://gesab001.github.io/reading/hangman/index.html?word={{conversionEncryptOutput}}">Play GitHub Server</a>
      </div>
      <div>
       <a target="_blank" class="d-block mb-4 h-100" href="http://192.168.1.70/reading/hangman/index.html?word={{conversionEncryptOutput}}">Play Local Server</a>
      </div> 
</div>  
<!--
    <div class="col-sm-6">  
      <button type="button" class="btn btn-dark btn-lg btn-block">  
        Decryption  
      </button>  
      <br>  
      <div class="form-group">  
        <label for="txtTextToConvert">Encrypted Text</label>  
        <input type="text" class="form-control" placeholder="Enter text you want to decrypt" [(ngModel)]="encryptText">  
      </div>  

      <div class="form-group">  
        <label for="txtPassword">Password</label>  
        <input type="password" class="form-control" placeholder="Enter decryption password" [(ngModel)]="decPassword">  
      </div>  
      <textarea class="form-control" readonly rows="3">{{conversionDecryptOutput}}</textarea>  
      <br>  
      <button type="button" class="btn btn-success float-right" (click)="convertText('decrypt')">Decrypt</button>  
    </div>  
  </div>  
</div>-->
