<div class="back-button">
	<div class="back-button-background">
	</div>
	<a href="">< BACK</a>

</div>
<div *ngIf="isPortrait && isMobile">
    <ngb-carousel #myCarousel="ngbCarousel"  (slide)="getCurrentSlide($event)" *ngIf="images" >
      <ng-template ngbSlide id="0">
        <img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="">
        <div class="carousel-caption centered">
           <h1 class="textshadow display-1">{{storytitle}}</h1>
        </div>   
      </ng-template>
      <ng-template ngbSlide *ngFor="let slide of slides['slides']; let i = index;" id={{i+1}}>
             <!-- <a target="_blank" href="https://gesab001.github.io/jigsaw?imageurl={{[slide['image']]}}"><img  class="img-fluid mx-auto d-block" [src]="[slide['image']]"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago"></a>-->
           <img   class="img-fluid mx-auto d-block" [src]="[slide['image']]"    onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago">
          
      </ng-template>

      <ng-template ngbSlide id="slides['slides'].length">

        <a [routerLink]="['/quiz', quiztitle]" routerLinkActive="active"><img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" alt="quiztime"></a>
        
      </ng-template> 
    </ngb-carousel>


    <div *ngIf="currentSlide>-1">
		<div style="white-space: normal; overflow:visible; background-color: black; ">
		  <h1 class="textshadow">{{slides['slides'][currentSlide]["text"]}}</h1>
	   
		</div>
  

    </div>
</div>

<div *ngIf="isLandscape && isMobile">
    <ngb-carousel #myCarousel="ngbCarousel"  (slide)="getCurrentSlide($event)" *ngIf="images" >
      <ng-template ngbSlide id="0">
        <img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="">
        <div class="carousel-caption centered">
           <h1 class="textshadow display-1">{{storytitle}}</h1>
        </div>   
      </ng-template>
      <ng-template ngbSlide *ngFor="let slide of slides['slides']; let i = index;" id={{i+1}}>
              <img   (tap)="onTap($event)"   class="img-fluid mx-auto d-block" [src]="[slide['image']]"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago">
      </ng-template>

      <ng-template ngbSlide id="slides['slides'].length">

        <a [routerLink]="['/quiz', quiztitle]" routerLinkActive="active"><img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" alt="quiztime"></a>
        
      </ng-template> 
    </ngb-carousel>


    <div *ngIf="currentSlide>-1">
      <div class="scrollmenu">
    <h1 class="textshadow">{{slides['slides'][currentSlide]["text"]}}</h1>
     
      </div> 


    </div>
</div>


<div class="carousel-container" *ngIf="isDesktop && isLandscape">
	<div class="slide-container">
		<div id="demo" class="carousel slide slide-container "  data-ride="carousel" data-wrap="false" data-interval="false">
		<!--  <ul style="height:30px;"	 class="carousel-indicators carousel-indicators--thumbnails">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li *ngFor="let slide of slides['slides']; index as i" data-target="#demo" [attr.data-slide-to]="i+1"></li>
			<li data-target="#demo" data-slide-to="11"></li>
			<li data-target="#demo" data-slide-to="12"></li>

		  </ul>-->
		  <div class="indicator-container">
			  <div class="carousel-indicators" >
					 <img class="item carousel-indicator-image active" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="" data-target="#demo" [attr.data-slide-to]="0"> 
					 <!--<div style="position:absolute; z-index:2; top:0" ><h1 class="textshadow" style="font-size:12px">{{otherTitle}}</h1></div>-->
			
				 <img  *ngFor="let slide of slides['slides']; index as i" class="carousel-indicator-image item" [src]="getSlideImage([slide['image']])" data-target="#demo" [attr.data-slide-to]="i+1">
				 <img  class="carousel-indicator-image item"  src="https://cdn.shopify.com/s/files/1/2018/8867/files/play-button.png" data-target="#demo" [attr.data-slide-to]="11">
				 <img  class="carousel-indicator-image item"  src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" data-target="#demo" [attr.data-slide-to]="12">

			  </div>
		  </div>
		  <div class="carousel-inner">
			<div class="carousel-item active ">
			  <img class="imageslide" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="">
			  <div class="carousel-caption centered">
				<h1 class="textshadow display-1">{{storytitle}}</h1>

			  </div>   
			</div>
			<div  *ngFor="let slide of slides['slides']; let i = index;" class="carousel-item" >

					<img class="imageslide"   [src]="getSlideImage([slide['image']])"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago">
				  <div class="carousel-caption" [ngClass]="{'hideCaption': isHiddenCaption}">
                   
 				     	<h1 class="textshadow ">{{slide["text"]}}</h1>
                   
      
				  </div>
			  </div>   
		    <div id="videoSlide" class="carousel-item">
					<div style=" width:100%; height: 100%; display:flex; flex-direction: column; align-items: center; justify-content: center">
	<!--<iframe  style="width:50%; height:50%; display:none"         loading="lazy" [src]="safeSrc" title="W3Schools Free Online Web Tutorials" allowFullScreen="allowFullScreen">
					</iframe>	-->
					<img  id="videoPlayIcon" width="320" height="240" (click)="playVideo()" src="https://cdn.shopify.com/s/files/1/2018/8867/files/play-button.png">
					 <video style="display:none" id="videoplayer" controls><source id="videosource" src=""></video>		
						 
					
					</div>
					
				<!--<a [href]="getVideoUrl()" target="_blank"><img class="imageslide" src="https://cdn.shopify.com/s/files/1/2018/8867/files/play-button.png"></a>	 -->
			</div>
			<div class="carousel-item">
			  
		        <a [routerLink]="['/quiz', quiztitle]"  routerLinkActive="active"><img  class="imageslide quiztime" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" alt="quiztime"></a>
			</div>
		  </div>
		  <a id="prevSlide" (click)="prevSlideNumber()" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		  </a>
		  <a id="nextSlide" (click)="nextSlideNumber()" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		  </a>

		</div>	
	</div>
	

</div>

<div *ngIf="isPortrait && isDesktop">
    <ngb-carousel #myCarousel="ngbCarousel"  (slide)="getCurrentSlide($event)" *ngIf="images" >
      <ng-template ngbSlide id="0">
        <img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="">
        <div class="carousel-caption centered">
           <h1 class="textshadow display-1">{{storytitle}}</h1>
        </div>   
      </ng-template>
      <ng-template ngbSlide *ngFor="let slide of slides['slides']; let i = index;" id={{i+1}}>
              <img  class="img-fluid mx-auto d-block" [src]="[slide['image']]"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago">
      </ng-template>

      <ng-template ngbSlide id="slides['slides'].length">

        <a [routerLink]="['/quiz', quiztitle]" routerLinkActive="active"><img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" alt="quiztime"></a>
        
      </ng-template> 
    </ngb-carousel>


    <div *ngIf="currentSlide>-1">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

    <h1 class="textshadow ">{{slides['slides'][currentSlide]["text"]}}</h1>
    </cdk-virtual-scroll-viewport>

    </div>
</div>
