.textshadow
  color: white
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black
  font-weight: bold

.centered 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.carousel-inner img
    width: 100%
    height: 100%

