<div class="back-button">
<div class="back-button-background">
</div>
<a href="">< BACK</a>

</div>
<div *ngIf="isPortrait && isMobile">
    <ngb-carousel #myCarousel="ngbCarousel"  (slide)="getCurrentSlide($event)" *ngIf="images" >
      <ng-template ngbSlide id="0">
        <img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="">
        <div class="carousel-caption centered">
           <h1 class="textshadow display-1">{{storytitle}}</h1>
        </div>   
      </ng-template>
      <ng-template ngbSlide *ngFor="let slide of slides; let i = index;" id={{i+1}}>
             <!-- <a target="_blank" href="https://gesab001.github.io/jigsaw?imageurl={{[slide['image']]}}"><img  class="img-fluid mx-auto d-block" [src]="[slide['image']]"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago"></a>-->
           <img   class="img-fluid mx-auto d-block" [src]="[slide['image']]"    onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago">
          
      </ng-template>

      <ng-template ngbSlide id="slides.length">

        <a [routerLink]="['/quiz', quiztitle]" routerLinkActive="active"><img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" alt="quiztime"></a>
        
      </ng-template> 
    </ngb-carousel>


    <div *ngIf="currentSlide>-1">
		<div style="white-space: normal; overflow:visible; background-color: black; ">
		  <h1 class="textshadow">{{slides[currentSlide]["text"]}}</h1>
	   
		</div>
  

    </div>
</div>

<div *ngIf="isLandscape && isMobile">
    <ngb-carousel #myCarousel="ngbCarousel"  (slide)="getCurrentSlide($event)" *ngIf="images" >
      <ng-template ngbSlide id="0">
        <img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="">
        <div class="carousel-caption centered">
           <h1 class="textshadow display-1">{{storytitle}}</h1>
        </div>   
      </ng-template>
      <ng-template ngbSlide *ngFor="let slide of slides; let i = index;" id={{i+1}}>
              <img   (tap)="onTap($event)"   class="img-fluid mx-auto d-block" [src]="[slide['image']]"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago">
      </ng-template>

      <ng-template ngbSlide id="slides.length">

        <a [routerLink]="['/quiz', quiztitle]" routerLinkActive="active"><img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" alt="quiztime"></a>
        
      </ng-template> 
    </ngb-carousel>


    <div *ngIf="currentSlide>-1">
      <div class="scrollmenu">
    <h1 class="textshadow">{{slides[currentSlide]["text"]}}</h1>
     
      </div> 


    </div>
</div>


<div class="carousel-container" *ngIf="isDesktop && isLandscape">
	<div class="slide-container">
		<div id="demo" class="carousel slide slide-container "  data-ride="carousel" data-wrap="false" data-interval="false">
		  <ul 			 class="carousel-indicators">
			<li data-target="#demo" data-slide-to="0" class="active"></li>
			<li *ngFor="let slide of slides; index as i" data-target="#demo" [attr.data-slide-to]="i+1"></li>
		  </ul>
		  <div class="carousel-inner">
			<div class="carousel-item active ">
			  <img class="imageslide" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="">
			  <div class="carousel-caption centered">
				<h1 class="textshadow display-1">{{storytitle}}</h1>

			  </div>   
			</div>
			<div  *ngFor="let slide of slides; let i = index;" class="carousel-item" >

					<img class="imageslide"   [src]="getSlideImage([slide['image']])"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago">
				  <div class="carousel-caption" [ngClass]="{'hideCaption': isHiddenCaption}">
                   
 				     	<h1 class="textshadow ">{{slide["text"]}}</h1>
                   
      
				  </div>
			  </div>   

			<div class="carousel-item">
			  
		        <a [routerLink]="['/quiz', quiztitle]"  routerLinkActive="active"><img  class="imageslide quiztime" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" alt="quiztime"></a>
			</div>
		  </div>
		  <a (click)="prevSlideNumber()" class="carousel-control-prev" href="#demo" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		  </a>
		  <a (click)="nextSlideNumber()" class="carousel-control-next" href="#demo" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		  </a>

		</div>	
	</div>
	

</div>

<div *ngIf="isPortrait && isDesktop">
    <ngb-carousel #myCarousel="ngbCarousel"  (slide)="getCurrentSlide($event)" *ngIf="images" >
      <ng-template ngbSlide id="0">
        <img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/sunset.jpg" onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="">
        <div class="carousel-caption centered">
           <h1 class="textshadow display-1">{{storytitle}}</h1>
        </div>   
      </ng-template>
      <ng-template ngbSlide *ngFor="let slide of slides; let i = index;" id={{i+1}}>
              <img  class="img-fluid mx-auto d-block" [src]="[slide['image']]"  onerror="this.src='https://raw.githubusercontent.com/gesab001/assets/master/images/black.jpg';" alt="Chicago">
      </ng-template>

      <ng-template ngbSlide id="slides.length">

        <a [routerLink]="['/quiz', quiztitle]" routerLinkActive="active"><img class="img-fluid mx-auto d-block" src="https://raw.githubusercontent.com/gesab001/assets/master/images/quiztime.jpg" alt="quiztime"></a>
        
      </ng-template> 
    </ngb-carousel>


    <div *ngIf="currentSlide>-1">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

    <h1 class="textshadow ">{{slides[currentSlide]["text"]}}</h1>
    </cdk-virtual-scroll-viewport>

    </div>
</div>
