<div class="nav-container">
	
	<div class="nav-bar-items-left">
		
		    <a class="nav-links" href="#">StoryIcon</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Home</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Live TV & Guide</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">Categories</a>
			<a class="nav-links" [routerLink]="['']" routerLinkActive="active">News</a>
	</div>
    <div class="nav-bar-items-right"  >
		<a class="user-profile-link" [routerLink]="['']" routerLinkActive="active">Giovanni</a>  
		<a [routerLink]="['']" routerLinkActive="active">Search</a>  
    </div>

        
 

</div>
<div>
<router-outlet></router-outlet>

</div>
