<div class="container">
  <h1 (click)="backClicked()" style="cursor:pointer; color:black;">Back</h1>

<h1>Wordsearch</h1>


<!--      <button type="button" class="btn btn-primary btn-lg btn-block">  
        Encryption  
      </button>  -->

  <div class="form-group">  
        <label for="txtTextToConvert">Enter word length</label>  
        <input type="number" class="form-control" placeholder="Enter number of letters in a word" [(ngModel)]="wordlength">  
      </div>  

<a  role="button" class="btn btn-success float-right"  target="_blank" class="d-block mb-4 h-100" href="https://gesab001.github.io/wordsearch?wordlist={{wordListToString()}}">Play</a>
<!--<a  role="button" class="btn btn-success float-right"  target="_blank" class="d-block mb-4 h-100" href="http://192.168.1.70/wordsearch?wordlist={{getWordList()}}">Play local</a>-->

    
<div><div class="wordList" *ngFor="let item of getWordList().items">{{item}}</div></div>

<!--<h1 class="text-center">Encrypt-Decrypt with AES</h1>  -->
<br>  


</div>
